.form__fieldset{
    padding: 0;
    margin: 0;
    border: none;
}

.form{
    max-width: 385px;
}

.form__input{
    display: block;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    max-width: 385px;
    height: 60px;
    margin-top: 8px;
    border-radius: 4px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #838383;
    border-color: #838383;
    border-width: 1px;
    border-style: solid;
}

.form__button{
    width: 100%;
    padding: 0;
    border: none;
    height: 60px;
    border-radius: 4px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    background-color: #1878dc;
    opacity: 100%;
    color:white;
    cursor: pointer;
    transition: background-color 0.5s;
    margin-top: 32px;
}

 .form__button:hover{
    background-color: #3f96f3;
}

.form__label_type_checkbox{
    margin-top: 32px;
    display: flex;
}

.form__label{
    display: block;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.form__label:last-child{
    display: flex;
}

.form__checkbox{
    width: 20px;
    height: 20px;
    margin-right: 12px;
    border-radius: 2px;
}